@import "../../../index.scss";

.listItem {
  width: 260px;
  height: 160px;
  background-color: var(--main-color);
  margin-right: 16px;
  overflow: hidden;
  cursor: pointer;
  color: rgb(255, 255, 255);
  @include mobile {
    width: 300px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video {
    width: 100%;
    height: 160px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    width: 350px;
    height: 400px;
    position: absolute;
    top: -220px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    z-index: 999;

    img {
      height: 160px;
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      padding: 15px;

      .icons {
        display: flex;
        margin-bottom: 10px;

        .icon {
          border: 2px solid rgb(255, 255, 255);
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 16px;
        }
      }

      .content {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: rgb(98, 98, 98);

        .limit {
          border: 1px solid rgb(98, 98, 98);
          padding: 1px 3px;
          margin: 0 10px;
        }
      }

      .desc {
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        padding: 0 5px;
      }
    }
  }
}
