.user {
  flex: 4;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

  &__title{
    padding: 20px 0 0 50px;
    font-size: 30px;
    font-weight: 600;
  }

  &__container {
    display: flex;
    padding: 20px;
    
    &_update {
      display: flex;
    
      &-show {
        width: 400px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.5);
        padding: 20px;
        margin-right: 30px;

        .top {
          display: flex;
          align-items: center;
          margin-left: 10px;
        
          &__img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        
          &__title {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
        
            &-name {
              font-size: 22px;
              font-weight: 600;
            }
          }
        }

        .bottom{
          margin-top: 20px;

          &__title {
            font-size: 20px;
            font-weight: 600;
            color: rgb(200, 255, 0);
            margin-left: 10px;
          }

          &__table{
            margin-top: 10px;
            
            table, th, td {
              border-collapse: collapse;
            }

            &_info{
              font-size: 18px;

              &-label{
                padding: 8px;
              }
            
              &-title{
                padding: 8px;
              }
            }
          }      
        }
      }

      &-form{
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.5);
        padding: 20px;

        .form{
          width: 400px;

          &__item{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            & > label{
              font-size: 20px;
            }

            &_input{
              border: none;
              padding: 8px;
              border-bottom: 1px solid gray;
              font-size: 16px;
            }
          }

          &__upload{
            margin-top: 15px;
            display: flex;
            align-items: center;

            &_img{
              width: 50px;
              height: 50px;
              object-fit: cover;
              margin-right: 20px;
            }

            &_icon{
              cursor: pointer;
              text-align: center;
            }
          }

          &__button{
            display: flex;
            justify-content: center;
            align-items: center;

            &-btn{
              margin-top: 20px;
              border-radius: 5px;
              border: none;
              padding: 10px;
              cursor: pointer;
              background-color: rgb(15, 233, 40);
              color: white;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

