.movie {
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

  &__title {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 600;

    &_form {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;

      &-item {
        width: 260px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 20px;

        & > label {
          color: rgb(0, 0, 0);
          font-weight: 600;
          margin-bottom: 10px;
          margin-left: 5px;
        }

        & > input {
          padding: 10px;
        }

        & > select {
          padding: 10px;
        }
      }
    }

    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;

      .btn{
        margin-top: 20px;
        font-size: 16px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(25, 255, 4);
        color: white;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}


